<template>
  <div :class="['dropdown', {'open': isOpen, disabled}]">
    <div v-if="label" :class="['label', { required }]">{{ label }}</div>
    <button class="dropdown__button" @click="open">
      <span class="dropdown__label">{{ currentValue }}</span>
      <span class="dropdown__icon"></span>
    </button>
    <ul class="dropdown__list">
      <li v-if="hasSearch" class="sticky-wrapper"><Search v-model="searchStr" opened class="search-input"/></li>
      <li
          v-for="(option, index) in unselectedOptions"
          :key="index"
          class="dropdown__item"
          @click.stop="select(option)"
      >
        <span class="dropdown__item-inner">{{ typeof option === 'object' ? option[field] : option }}</span>
      </li>
      <li
          v-if="emptyAvailable && value"
          class="dropdown__item"
          @click.stop="select(null)"
      >
        <span class="dropdown__item-inner">Not selected</span>
      </li>
    </ul>
  </div>
</template>

<script>
import Search from '@/components/Search';

export default {
  name: 'form-dropdown',
  props: {
    value: {
      type: [String, Object]
    },
    options: {
      type: Array,
      required: true
    },
    placeholder: {
      type: String,
      default: 'Choose...'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    required: {
      type: Boolean,
      default: false
    },
    field: {
      type: String,
      default: 'title'
    },
    label: String,
    emptyAvailable: Boolean,
    hasSearch: Boolean
  },
  data() {
    return {
      isOpen: false,
      searchStr: ''
    };
  },
  computed: {
    mappedOptions() {
      return this.hasSearch
          ? this.options.filter(i => i[this.field].toUpperCase().includes(this.searchStr.toUpperCase()))
          : this.options;
    },
    unselectedOptions() {
      return this.mappedOptions.filter(x => JSON.stringify(x) !== JSON.stringify(this.value));
    },
    currentValue() {
      return this.value ? ((typeof this.value === 'object' && this.field) ? this.value[this.field] : this.value) : this.placeholder;
    }
  },
  methods: {
    open() {
      if (this.disabled) return;
      this.isOpen = !this.isOpen;
    },
    select(option) {
      if (option === this.value) return;
      this.isOpen = false;
      this.searchStr = '';
      this.$emit('input', option);
      this.$emit('select', option);
    },
    clickOut(e) {
      if (!this.$el.contains(e.target)) {
        this.isOpen = false;
        this.searchStr = '';
      }
    }
  },
  created() {
    //TODO: добавить ворнинг для this.field
  },
  mounted() {
    document.addEventListener('click', this.clickOut);
  },
  destroyed() {
    document.removeEventListener('click', this.clickOut);
  },
  components: {
    Search
  }
};
</script>

<style lang="sass" scoped>
.dropdown
  outline-offset: -2px
  position: relative
  display: block
  width: 100%
  height: 2.5rem
  max-height: 2.5rem
  color: $main-dark
  background-color: transparent
  border: none
  border-bottom: 1px solid $smoky-gray
  outline: 2px solid transparent
  cursor: pointer
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9)

.label
  position: absolute
  left: 0
  top: -1rem
  font-size: .75rem
  color: $label

.label.required::after
  content: '*'
  color: $danger
  width: 3px
  height: 3px
  margin-left: 2px
  font-size: .75rem

.dropdown.open
  .dropdown__list
    max-height: 13.75rem

  .dropdown__icon
    transform: rotate(135deg)

.dropdown.disabled
  cursor: default
  .dropdown__label
    color: $smoky-gray
  .dropdown__icon
    border-color: $smoky-gray
  .dropdown__button
    cursor: default

.dropdown__button
  background: none
  border: 0
  cursor: pointer
  appearance: none
  width: 100%
  padding: 0 1rem
  text-align: left
  position: relative
  display: inline-flex
  align-items: center
  height: calc(100% + 1px)
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  vertical-align: top
  outline: none

.dropdown__icon
  width: 8px
  height: 8px
  margin-left: auto
  border-left: 1px solid
  border-bottom: 1px solid
  transition: transform 70ms cubic-bezier(0.2, 0, 0.38, 0.9)
  transform: rotate(-45deg)

.dropdown__list
  position: absolute
  top: 100%
  left: 0
  width: 100%
  max-height: 0
  overflow-y: auto
  background-color: $light-gray
  color: $main-dark
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2)
  transition: max-height 110ms cubic-bezier(0.2, 0, 0.38, 0.9)
  z-index: $z-dropdown

.dropdown__item
  padding: 0 1rem
  margin-top: -1px
  &:hover
    background-color: $middle-gray
  &:last-child
    .dropdown__item-inner
      border-bottom: 0

.dropdown__item-inner
  display: flex
  align-items: center
  min-height: 2.5rem
  border-bottom: 1px solid $smoky-gray
  padding: .5rem 0

.dropdown__label
  overflow: hidden
  margin-right: 1rem
  text-overflow: ellipsis
  font-weight: 300

.sticky-wrapper
  position: sticky
  top: 0

.search-input
  border: 0
  outline: 0
  width: 100%
  padding: 0.5rem 1rem
  background-color: $pure-white
</style>
