<template>
  <div class="form-input-checkbox">
    <label :class="['label', { disabled }]">
      <input
          type="checkbox"
          :value="value"
          :checked="checked"
          :disabled="disabled"
          class="input"
          @change="onChange(!checked)"
      >
      <span class="label-content">
        <slot name="label" />
      </span>
    </label>
  </div>
</template>

<script>
export default {
  name: 'form-input-checkbox',
  props: {
    checked: Boolean,
    value: [String, Number],
    disabled: Boolean
  },
  methods: {
    onChange(evt) {
      this.$emit('change', evt);
    }
  }
};
</script>

<style lang="sass" scoped>
.label
  display: flex
  align-items: center

.label-content
  margin-left: .25rem

.label,
.input
  cursor: pointer

.label.disabled
  color: $smoky-gray
  cursor: default

  .input
    cursor: default
</style>
