<template>
  <div
      class="number-input"
      :class="{
      'center': center,
      'controls': controls
    }"
  >
    <button
        v-if="controls"
        class="button button--minus"
        type="button"
        tabindex="-1"
        :disabled="disabled || readonly || !decreasable"
        @click="decrease"
    />
    <input
        ref="input"
        class="field"
        v-bind="attrs"
        type="number"
        :name="name"
        :value="isNaN(currentValue) ? '' : currentValue"
        :min="min"
        :max="max"
        :step="step"
        :readonly="readonly || !inputable"
        :disabled="disabled || (!decreasable && !increasable)"
        :placeholder="placeholder"
        autocomplete="off"
        @change="change"
        @paste="paste"
    >
    <button
        v-if="controls"
        class="button button--plus"
        type="button"
        tabindex="-1"
        :disabled="disabled || readonly || !increasable"
        @click="increase"
    />
  </div>
</template>

<script>
const isNaN = Number.isNaN || window.isNaN;
const REGEXP_NUMBER = /^-?(?:\d+|\d+\.\d+|\.\d+)(?:[eE][-+]?\d+)?$/;
const REGEXP_DECIMALS = /\.\d*(?:0|9){10}\d*$/;
const normalizeDecimalNumber = (value, times = 100000000000) => (
    REGEXP_DECIMALS.test(String(value)) ? (Math.round(value * times) / times) : value
);
export default {
  name: 'number-input',
  props: {
    attrs: {
      type: Object,
      default: undefined,
    },
    center: Boolean,
    controls: Boolean,
    disabled: Boolean,
    inputable: {
      type: Boolean,
      default: true,
    },
    max: {
      type: Number,
      default: Infinity,
    },
    min: {
      type: Number,
      default: -Infinity,
    },
    name: {
      type: String,
      default: undefined,
    },
    placeholder: {
      type: String,
      default: undefined,
    },
    readonly: Boolean,
    rounded: Boolean,
    step: {
      type: Number,
      default: 1,
    },
    value: {
      type: Number,
      default: NaN,
    },
  },
  data() {
    return {
      currentValue: NaN,
    };
  },
  computed: {
    increasable() {
      return isNaN(this.currentValue) || this.currentValue < this.max;
    },
    decreasable() {
      return isNaN(this.currentValue) || this.currentValue > this.min;
    },
  },
  watch: {
    value: {
      immediate: true,
      handler(newValue, oldValue) {
        if (!(isNaN(newValue) && typeof oldValue === 'undefined') && newValue !== this.currentValue) {
          this.setValue(newValue);
        }
      },
    },
  },
  methods: {
    isNaN,
    change(event) {
      this.setValue(event.target.value);
    },
    paste(event) {
      const clipboardData = event.clipboardData || window.clipboardData;
      if (clipboardData && !REGEXP_NUMBER.test(clipboardData.getData('text'))) {
        event.preventDefault();
      }
    },
    decrease() {
      if (this.decreasable) {
        let { value } = this;
        if (isNaN(value)) {
          value = 0;
        }
        this.setValue(normalizeDecimalNumber(value - this.step));
      }
    },
    increase() {
      if (this.increasable) {
        let { value } = this;
        if (isNaN(value)) {
          value = 0;
        }
        this.setValue(normalizeDecimalNumber(value + this.step));
      }
    },
    setValue(value) {
      const oldValue = this.currentValue;
      let newValue = typeof value !== 'number' ? parseFloat(value) : value;
      if (!isNaN(newValue)) {
        if (this.min <= this.max) {
          newValue = Math.min(this.max, Math.max(this.min, newValue));
        }
        if (this.rounded) {
          newValue = Math.round(value);
        }
      }
      this.currentValue = newValue;
      if (newValue === oldValue) {
        this.$refs.input.value = String(newValue);
      }
      this.$emit('input', newValue);
    },
  },
};
</script>

<style lang="sass" scoped>
.number-input
  display: block
  font-size: 0
  max-width: 100%
  overflow: hidden
  position: relative

.button
  background-color: $pure-white
  border: 0
  border-radius: 0.25rem
  bottom: 1px
  position: absolute
  top: 1px
  width: 2.5rem
  z-index: 1
  &:focus
    outline: none
  &:hover
    &::before,
    &::after
      background-color: $primary


  &:disabled
    opacity: 0.65
    &::before,
    &::after
      background-color: $light-gray

  &::before,
  &::after
    background-color: $main-dark
    content: ""
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    transition: background-color 0.15s

  &::before
    height: 1px
    width: 50%

  &::after
    height: 50%
    width: 1px

  &--minus
    border-bottom-right-radius: 0
    border-right: 1px solid $light-gray
    border-top-right-radius: 0
    left: 1px
    &::after
      visibility: hidden

  &--plus
    border-bottom-left-radius: 0
    border-left: 1px solid $light-gray
    border-top-left-radius: 0
    right: 1px

.field
  -moz-appearance: textfield
  background-color: $pure-white
  border: 1px solid $light-gray
  border-radius: 0.25rem
  display: block
  font-size: 1rem
  line-height: 1.5
  max-width: 100%
  min-height: 1.5rem
  min-width: 3rem
  padding: 0.4375rem 0.875rem
  transition: border-color 0.15s
  width: 100%
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none

  &:focus
    border-color: $primary
    outline: none

  &:disabled,
  &[readonly]
    background-color: $smoky-gray

.number-input.center
  & > input
    text-align: center

.number-input.controls
  & > input
    padding-left: 3.375rem
    padding-right: 3.375rem
</style>
