<template>
  <span :class="['icon', `ri-${name}`, `ri-${size}`]"></span>
</template>

<script>
const SIZES = ['lg', 'xl', 'xxs', 'xs', 'sm', '1x', '2x', '3x'];

export default {
  name: 'icon-component',
  props: {
    name: {
      type: String,
      required: true
    },
    size: {
      type: String,
      default: 'lg',
      validator: prop => SIZES.includes(prop)
    }
  }
};
</script>

<style lang="sass" scoped>
.icon:before
  color: $dark-gray
</style>
