<template>
  <div v-if="isOpen" class="c-backdrop" @click="close">
    <div :style="{ width }" class="modal" @click.stop>
      <div class="content">
        <slot />
      </div>
      <div class="actions">
        <button v-if="showCancelButton" class="c-button c-button--outline" @click="cancel">{{ cancelButtonText }}</button>
        <button v-if="showConfirmButton" class="c-button c-button--primary" :disabled="disabledConfirmButton" @click="confirm">{{ confirmButtonText }}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'modal-component',
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
    width: {
      type: String,
      default: '600px'
    },
    confirmButtonText: {
      type: String,
      default: 'Confirm'
    },
    cancelButtonText: {
      type: String,
      default: 'Cancel'
    },
    showConfirmButton: {
      type: Boolean,
      default: true
    },
    showCancelButton: {
      type: Boolean,
      default: true
    },
    disabledConfirmButton: {
      type: Boolean,
      default: false
    },
  },
  methods: {
    confirm() {
      this.$emit('confirm');
    },
    cancel() {
      this.$emit('cancel');
    },
    close() {
      this.$emit('close');
    },
    keydownHandler(e) {
      if (this.isOpen && e.key === 'Escape') {
        this.close();
      }
    }
  },
  mounted() {
    document.addEventListener('keydown', this.keydownHandler);
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.keydownHandler);
  }
}
</script>

<style lang="sass" scoped>
.modal
  position: relative
  top: 0
  left: 50%
  transform: translateX(-50%)
  background-color: $pure-white

.content
  padding: 1rem

.actions
  display: flex
  width: 100%

  button
    width: 50%
    flex-grow: 1
</style>
