<template>
  <div :class="[$options.name]" :style="{ height: wrapperHeight + 'px' }">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'scrollable-wrapper',
  data() {
    return {
      wrapperHeight: 0
    };
  },
  methods: {
    getWrapperHeight() {
      const wrapper = this.$el.getBoundingClientRect();
      this.wrapperHeight = window.innerHeight - wrapper.top - 48;
    }
  },
  mounted() {
    window.addEventListener('resize', this.getWrapperHeight);
    this.getWrapperHeight();
  },
  destroyed() {
    window.removeEventListener('resize', this.getWrapperHeight);
  },
};
</script>

<style lang="sass" scoped>
.scrollable-wrapper
  overflow-y: auto
  padding-right: 1rem
</style>
