<template>
  <div :class="['search', { focused: searchValue || isSearchOnFocus, opened }]">
    <input
        ref="input"
        type="text"
        class="input"
        v-model="searchValue"
        :placeholder="placeholder"
        @focus="isSearchOnFocus = true"
        @blur="isSearchOnFocus = false"
        @keyup.enter="submitHandler"
    >
    <button v-if="searchValue" class="c-button c-button--icon clear-icon" @click="searchClearHandler">
      <Icon name="close-line"/>
    </button>
    <button class="c-button c-button--icon magnifier-icon" @click="submitHandler">
      <Icon name="search-line"/>
    </button>
  </div>
</template>

<script>
import debounce from 'lodash/debounce';

const DEBOUNCE_TIME = 300;

export default {
  name: 'search-component',
  props: {
    value: String,
    placeholder: String,
    opened: Boolean
  },
  data() {
    return {
      searchValue: '',
      isSearchOnFocus: false,
    };
  },
  methods: {
    submitHandler() {
      if (this.isSearchOnFocus || this.opened) {
        this.$emit('search', this.searchValue);
        this.$emit('input', this.searchValue);
        return;
      }
      this.$refs.input.focus();
    },
    searchClearHandler() {
      // если набрали текст и не активировали поиск, то просто убираем текст
      this.searchValue = '';
      this.$emit('search', this.searchValue);
      this.$emit('input', this.searchValue);
    },
  },
  mounted() {
    this.submitHandler = debounce(this.submitHandler, DEBOUNCE_TIME);
  },
}
</script>

<style lang="sass" scoped>
.search
  position: relative
  display: flex
  align-items: center
  height: 2.5rem
  width: 2.5rem
  overflow: hidden

.search.focused,
.search.opened
  width: 100%

.input
  border: none
  outline: none
  width: 100%
  height: 100%
  padding: 0 80px 0 1rem
  background-color: transparent

.clear-icon
  position: absolute
  right: 3rem
  cursor: pointer

.magnifier-icon
  position: absolute
  right: .75rem
  cursor: pointer
</style>
