<template>
  <div :class="[$options.name]">
    <div
        v-for="(step, idx) in steps"
        :key="idx"
        :class="['step', { active: current === idx }]"
    >
      {{ idx+1 }}. {{ step }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'stepper-component',
  props: {
    steps: {
      type: Array,
      required: true
    },
    current: {
      type: Number,
      default: 0
    }
  },
};
</script>

<style lang="sass" scoped>
.stepper-component
  display: flex
  align-items: center
  flex-wrap: nowrap

.step
  color: $smoky-gray
  margin-right: 1rem
  padding-bottom: .25rem
  border-bottom: .3rem solid $smoky-gray

.step.active
  color: $main-dark
  border-color: $primary
</style>
