<template>
  <div v-if="notifyList.length" class="notify-list">
    <transition-group
      name="list"
      mode="out-in"
      tag="div"
      class="list"
      appear
    >
      <NotifyItem
        v-for="item in notifyList"
        v-bind="item"
        :key="item.id"
        @remove="removeNotify(item)"
      />
    </transition-group>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import NotifyItem from './Notify';

export default {
  name: 'notify-list',
  components: {
    NotifyItem,
  },
  computed: {
    ...mapGetters(['notifyList'])
  },
  methods: {
    ...mapActions(['removeNotify'])
  },
};
</script>

<style lang="sass" scoped>

.notify-list
  position: fixed
  width: calc(100% - 3rem)
  left: 3rem
  top: 85px
  padding: 1rem
  max-height: 100%
  overflow: visible
  z-index: 9999
  backface-visibility: hidden

  // remove scrollbar space
  &::-webkit-scrollbar
    width: 0

.wrapper
  overflow: hidden
  position: relative

.list
  overflow: visible

.list-enter-active
  transition: transform .3s ease-in-out

.list-enter
  transform: translateX(100%)

.list-leave-active
  transition: all .15s ease-in-out

.list-leave-to
  transform: translateY(25%)
  opacity: 0
</style>
