<template>
  <div :class="type" class="notify">
    <button class="c-button c-button--icon notify__close" @click="$emit('remove')">
      <Icon name="close-line" />
    </button>

    <div class="notify__group">
      <Icon v-if="type === 'error'" name="error-warning-fill" size="2x" class="icon-error" />
      <Icon v-if="type === 'success'" name="checkbox-circle-fill" size="2x" class="icon-success" />
      <div class="notify__title">{{ title }}</div>
    </div>

    <p v-if="message" class="notify__message">
      <span v-html="message" />
    </p>

  </div>
</template>

<script>
export default {
  name: 'notify',
  props: {
    type: {
      type: String,
      validator: prop => ['success', 'error'].includes(prop)
    },
    title: {
      type: String
    },
    message: {
      type: String,
    },
    duration: {
      type: Number,
      default: 10000,
    },
  },
  created() {
    this.autoClose =
      setTimeout(() => {
        this.$emit('remove');
      }, this.duration);
  },
  destroyed() {
    clearTimeout(this.autoClose);
  },
};
</script>

<style lang="sass" scoped>
.notify
  position: relative
  padding: 1rem
  margin-bottom: 1rem
  box-sizing: border-box
  border: 2px solid
  border-left: .5rem solid
  background-color: $light-gray

  &.success
    border-color: $green

  &.error
    border-color: $danger

.notify__group
  display: flex
  align-items: center

.notify__title
  display: inline-block
  padding-left: 1rem
  padding-right: 2rem
  font-size: 1.125rem
  line-height: 1.2

.notify__message
  margin: 1rem 0 0 0

.notify__close
  position: absolute
  top: calc(50% - 10px)
  right: 1rem

.icon
  flex-shrink: 0

.icon.icon-success:before
    color: $green

.icon.icon-error:before
    color: $danger
</style>
