<template>
  <div :class="[$options.name]">
    <div class="filters-container">
      <Dropdown
        v-for="filter in filters"
        :key="filter.title"
        v-model="selectedFilters[filter.condition]"
        :options="filter.value"
        placeholder="Choose a value"
        :label="filter.title"
        empty-available
        class="filter-dropdown"
        @select="onChangeFilterValue()"
      />
    </div>
    <ScrollableWrapper>
      <div class="algorithms-container">
        <div
            v-for="item in algorithms"
            :key="item.id"
            :class="['algorithm-box', {disabled: !item.enabled, selected: selected && selected.id === item.id}]"
            @click="algorithmClickHandler(item)"
        >
          <span v-if="item.experimental" class="experimental">Exp</span>
          <h3 class="box-title">{{ item.title }}</h3>
          <p class="box-params">{{ item.campaign_type }} - {{ item.scope }}</p>
          <h3 class="box-description">{{ item.description }}</h3>
        </div>
      </div>
    </ScrollableWrapper>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import Dropdown from '@/components/Common/Form/Dropdown';
import ScrollableWrapper from '@/components/Common/ScrollableWrapper';

export default {
  name: 'choose-algorithm-section',
  inheritAttrs: false,
  data() {
    return {
      algorithms: null,
      filters: null,
      selectedFilters: {
        campaign_type: null,
        state: null, // experimental
        scope: null, // level
      },
      selected: null
    };
  },
  methods: {
    ...mapActions([
      'getFilters',
      'getAvailableAlgorithms'
    ]),
    algorithmClickHandler(evtObj) {
      if (!this.selected || this.selected.id !== evtObj.id) this.selected = evtObj;
      else this.selected = null;

      this.$emit('update', { algorithm: this.selected });
    },
    async onChangeFilterValue() {
      let paramStr = '';
      for (const key in this.selectedFilters) {
        if (this.selectedFilters[key]) {
          paramStr += paramStr
              ? `&${key}=${this.selectedFilters[key].value}`
              : `?${key}=${this.selectedFilters[key].value}`;
        }
      }
      this.algorithms = await this.getAvailableAlgorithms(paramStr);
    }
  },
  async created() {
    this.filters = await this.getFilters({ scope: 'available_algorithms' });
    this.algorithms = await this.getAvailableAlgorithms();
  },
  components: {
    Dropdown,
    ScrollableWrapper
  }
};
</script>

<style lang="sass" scoped>
.filters-container
  display: flex
  align-items: center
  padding-bottom: 2rem

.filter-dropdown
  width: calc((100% / 3) - (4rem / 3))
  margin-left: 2rem
  &:first-child
    margin-left: 0

.algorithms-container
  display: flex
  flex-wrap: wrap

.algorithm-box
  position: relative
  width: calc((100% / 3) - (4rem / 3))
  border: 2px solid $smoky-gray
  margin-bottom: 2rem
  margin-left: 2rem
  padding: 1rem
  flex-shrink: 0
  cursor: pointer
  &:nth-child(3n + 1)
    margin-left: 0

.algorithm-box.disabled
  cursor: default
  pointer-events: none
  opacity: .5

.algorithm-box.selected
  border-color: $green

.experimental
  position: absolute
  color: $danger
  top: 1rem
  right: 1rem
  font-size: 0.75rem

.box-title
  margin-top: 0
  padding-right: 2rem
  font-weight: 500

.box-params
  color: $smoky-gray
</style>
