<template>
  <div :class="[$options.name]">
    <ScrollableWrapper>
      <div class="confirm-items-container">
        <InputText
          v-model="title"
          placeholder="Set algorithm title"
          class="title"
          @input="inputTitleHandler"
        />

        <Item :editable="false" title="Basic algorithm">
          {{ data.algorithm.title }}
        </Item>

        <Item title="Profiles" @edit="$emit('edit', 'marketplaces')">
          <p v-for="profile in data.profiles" :key="profile.id">
            {{ profile.title }}
          </p>
        </Item>

        <Item title="Portfolios" @edit="$emit('edit', 'marketplaces')">
          <p v-for="portfolio in data.portfolios" :key="portfolio.id">
            {{ portfolio.title }}
          </p>
        </Item>

        <Item
          v-if="data.campaign"
          title="Campaign"
          @edit="$emit('edit', 'campaign')"
        >
          {{ data.campaign.title }}
        </Item>

        <Item
          v-if="data.keyword"
          title="Keyword"
          @edit="$emit('edit', 'keyword')"
        >
          {{ data.keyword.match_type }}: {{ data.keyword.keyword_text }}
        </Item>

        <Item title="Tweaks" @edit="$emit('edit', 'tweaks')">
          <p v-for="setting in settings" :key="setting.title">
            {{ setting.title }}: {{ setting.value }}
          </p>
        </Item>

        <Item title="Trigger" @edit="$emit('edit', 'triggers')">
          {{ data.trigger.title }}
        </Item>
      </div>
    </ScrollableWrapper>
  </div>
</template>

<script>
import InputText from '@/components/Common/Form/InputText.vue';
import ScrollableWrapper from '@/components/Common/ScrollableWrapper.vue';
import Item from './Confirm/Item.vue';

export default {
  name: 'confirm-section',
  inheritAttrs: false,
  inject: ['PageType'],
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      title: this.data.title
    };
  },
  computed: {
    originalSettings() {
      return this.$store.getters.algorithmSettings;
    },
    settings() {
      const arr = [];
      for (const key in this.data.breakpoints) {
        const original = this.originalSettings.find((i) => i.name === key);
        if (Boolean(original)) {
          arr.push({
            title: original.title,
            value: this.data.breakpoints[key]
          });
        }
      }
      return arr;
    },
    pageType() {
      return this.PageType();
    }
  },
  methods: {
    inputTitleHandler(str) {
      this.$emit('update', { title: str });
    }
  },
  components: {
    InputText,
    ScrollableWrapper,
    Item
  }
};
</script>

<style lang="sass" scoped>
.title
  margin-bottom: 2rem
</style>
