<template>
  <div :class="[$options.name]">
    <h2 class="section-title">Target keyword</h2>
    <ScrollableWrapper>
      <div class="dropdown-container">
        <Dropdown
            v-model="algorithmKeywordModel"
            :options="mappedKeywords"
            :value="data.keyword"
            has-search
            field="displayName"
            placeholder="Keyword"
            @select="onChangeAlgorithmKeywordValue"
        />
      </div>
    </ScrollableWrapper>
  </div>
</template>

<script>
import Dropdown from '@/components/Common/Form/Dropdown.vue';
import ScrollableWrapper from '@/components/Common/ScrollableWrapper';
import { mapGetters } from 'vuex';

export default {
  name: 'keyword-section',
  inheritAttrs: false,
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      algorithmKeywordModel: null
    };
  },
  computed: {
    ...mapGetters(['algorithmKeywords']),
    mappedKeywords() {
      return this.algorithmKeywords.map(i => ({...i, displayName: `${i.match_type}: ${i.keyword_text}`}));
    }
  },
  methods: {
    onChangeAlgorithmKeywordValue(keywordObj) {
      this.$emit('update', {
        keyword: keywordObj
      });
    }
  },
  created() {
    if (Boolean(this.data.id)) {
      const currentKeyword = this.mappedKeywords.find(c => c.keyword_id === this.data.additional_arguments.keyword);
      if (Boolean(currentKeyword)) {
        this.algorithmKeywordModel = currentKeyword;
        this.onChangeAlgorithmKeywordValue(this.algorithmKeywordModel);
      }
    } else {
      this.algorithmKeywordModel = this.data.keyword;
    }
  },
  components: {
    Dropdown,
    ScrollableWrapper
  }
};
</script>

<style lang="sass" scoped>
.section-title
  font-weight: 500

.dropdown-container
  width: 50%
</style>
