<template>
  <div :class="[$options.name]">
    <h2 class="section-title">
      Marketplaces
      <InputCheckbox
          v-if="isAdditional && selectedPortfolios.length"
          :checked="submitState"
          :class="['submit-choice-checkbox', {checked: submitState}]"
          @change="submitChoiceHandler($event)"
      >
        <span slot="label">Submit choice</span>
      </InputCheckbox>
    </h2>
    <ScrollableWrapper>
      <MultipleSelect
          v-if="marketplaces.length > 0"
          :options="marketplaces"
          :selected="selectedMarketplaces"
          :disabled="submitState"
          options-title="Available profiles"
          selected-title="Chosen profiles"
          class="marketplaces-container"
          @select="marketplacesSelectHandler"
      />
      <MultipleSelect
          v-if="algorithmPortfolios.length > 0"
          :options="algorithmPortfolios"
          :selected="selectedPortfolios"
          :disabled="submitState"
          value-field="portfolio_id"
          options-title="Available portfolios"
          selected-title="Chosen portfolios"
          class="portfolios-container"
          @select="portfoliosSelectHandler"
      />
    </ScrollableWrapper>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { isEmpty } from 'lodash';
import ScrollableWrapper from '@/components/Common/ScrollableWrapper.vue';
import MultipleSelect from '@/components/Common/Form/MultipleSelect/MultipleSelect.vue';
import InputCheckbox from '@/components/Common/Form/InputCheckbox.vue';

const CAMPAIGNS_EMPTY_ERROR_MESSAGE = 'Please, retry choice. Campaigns not found.';

export default {
  name: 'select-marketplaces-section',
  inheritAttrs: false,
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      selectedMarketplaces: [],
      selectedPortfolios: [],
      submitState: false
    };
  },
  computed: {
    ...mapGetters(['marketplaces', 'algorithmPortfolios']),
    isAdditional() {
      return !isEmpty(this.data.algorithm.additional_steps);
    },
    campaignsRequiredParamsString() {
      let paramStr = '';
      if (this.isAdditional) {
        const params = this.data.algorithm.additional_steps.campaign.api.required_params;
        for (const key in params) {
          paramStr += paramStr
              ? `&${key}=${params[key]}`
              : `?${key}=${params[key]}`;
        }
      }

      return paramStr;
    },
    profilesIdsString() {
      return this.selectedMarketplaces.map(i => i.id).join(',');
    },
    portfoliosIdsString() {
      return this.selectedPortfolios.map(i => i.portfolio_id).join(',');
    }
  },
  methods: {
    ...mapActions(['getPortfolios', 'getData', 'showNotify']),
    marketplacesSelectHandler(selectedArr) {
      this.selectedMarketplaces = selectedArr;
      this.selectedPortfolios = [];
      this.update();
      if (this.selectedMarketplaces.length > 0) {
        this.getPortfolios({ids: this.profilesIdsString});
      }
    },
    portfoliosSelectHandler(selectedArr) {
      this.selectedPortfolios = selectedArr;
      this.update();
    },
    async submitChoiceHandler(state) {
      this.submitState = state;
      if (this.submitState) {
        const campaigns = await this.getData({
          type: 'campaigns',
          query: `${this.campaignsRequiredParamsString}&profile_id=${this.profilesIdsString}&portfolio_id=${this.portfoliosIdsString}`
        });

        this.$store.commit('SET_ALGORITHM_CAMPAIGNS', campaigns.results);

        if (campaigns.results.length === 0) {
          await this.showNotify({ type: 'error', title: CAMPAIGNS_EMPTY_ERROR_MESSAGE });
          this.submitState = false;
        }
      }
    },
    update() {
      this.$emit('update', {
        profiles: this.selectedMarketplaces,
        portfolios: this.selectedPortfolios
      });
    }
  },
  created() {
    this.selectedMarketplaces = this.data.profiles;
    this.selectedPortfolios = this.data.portfolios;
  },
  components: {
    ScrollableWrapper,
    MultipleSelect,
    InputCheckbox
  }
};
</script>

<style lang="sass" scoped>
.section-title
  display: flex
  align-items: center
  justify-content: space-between
  font-weight: 500

.portfolios-container
  margin-top: 2rem

.submit-choice-checkbox
  font-size: 1rem
  font-weight: 400
  margin-right: 1rem
  color: $danger

.submit-choice-checkbox.checked
  color: $main-dark
</style>
