<template>
  <div :class="[$options.name]">
    <h2 class="section-title">Target campaign</h2>
    <ScrollableWrapper>
      <div class="dropdown-container">
        <Dropdown
            v-model="algorithmCampaignModel"
            :options="algorithmCampaigns"
            :value="data.campaign"
            has-search
            field="title"
            placeholder="Campaign"
            @select="onChangeAlgorithmCampaignValue"
        />
      </div>
    </ScrollableWrapper>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import Dropdown from '@/components/Common/Form/Dropdown.vue';
import ScrollableWrapper from '@/components/Common/ScrollableWrapper';

const KEYWORDS_EMPTY_ERROR_MESSAGE = 'Please, retry choice. Keywords not found.';

export default {
  name: 'campaign-section',
  inheritAttrs: false,
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      algorithmCampaignModel: null,
    };
  },
  computed: {
    ...mapGetters(['algorithmCampaigns']),
    keywordsRequiredParamsString() {
      let paramStr = '';
      const params = this.data.algorithm.additional_steps.keyword.api.required_params;
      for (const key in params) {
        paramStr += paramStr
            ? `&${key}=${params[key]}`
            : `?${key}=${params[key]}`;
      }

      return paramStr;
    }
  },
  methods: {
    ...mapActions(['getData', 'showNotify']),
    async onChangeAlgorithmCampaignValue(campaignObj) {
      this.$emit('update', { campaign: campaignObj });

      const keywords = await this.getData({
        type: 'keywords',
        query: `${this.keywordsRequiredParamsString}&campaign_id=${this.algorithmCampaignModel.campaign_id}`
      });

      this.$store.commit('SET_ALGORITHM_KEYWORDS', keywords.results);

      if (keywords.results.length === 0) {
        await this.showNotify({ type: 'error', title: KEYWORDS_EMPTY_ERROR_MESSAGE });
      }
    }
  },
  created() {
    if (Boolean(this.data.id)) {
      const currentCampaign = this.algorithmCampaigns.find(c => c.campaign_id === this.data.additional_arguments.campaign);
      if (Boolean(currentCampaign)) {
        this.algorithmCampaignModel = currentCampaign;
        this.onChangeAlgorithmCampaignValue(this.algorithmCampaignModel);
      }
    } else {
      this.algorithmCampaignModel = this.data.campaign;
    }
  },
  components: {
    Dropdown,
    ScrollableWrapper
  }
};
</script>

<style lang="sass" scoped>
.section-title
  font-weight: 500

.dropdown-container
  width: 50%
</style>
