<template>
  <div :class="[$options.name]">
    <h2 class="section-title">Triggers</h2>
    <ScrollableWrapper>
      <div class="triggers-container">
        <div
            v-for="item in triggers"
            :key="item.id"
            :class="['trigger-box', {selected: selected && selected.id === item.id}]"
            @click="triggerClickHandler(item)"
        >
          <p class="box-title">{{ item.kind }}: {{ item.title }}</p>
          <p class="box-description">{{ item.description }}</p>
        </div>
      </div>
    </ScrollableWrapper>
  </div>
</template>

<script>
import ScrollableWrapper from '@/components/Common/ScrollableWrapper';

export default {
  name: 'triggers-section',
  inheritAttrs: false,
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      selected: null
    };
  },
  computed: {
    triggers() {
      return this.$store.getters.algorithmTriggers;
    }
  },
  methods: {
    triggerClickHandler(evtObj) {
      if (!this.selected || this.selected.id !== evtObj.id) this.selected = evtObj;
      else this.selected = null;

      this.$emit('update', { trigger: this.selected });
    }
  },
  async created() {
    if (this.triggers.length === 0) await this.$store.dispatch('getAlgorithmsTriggers', { id: this.data.algorithm.id });
    if (this.data.trigger) return this.selected = this.data.trigger;
  },
  components: {
    ScrollableWrapper
  }
};
</script>

<style lang="sass" scoped>
.section-title
  font-weight: 500

.triggers-container
  display: flex
  flex-wrap: wrap

.trigger-box
  position: relative
  width: calc((100% / 3) - (4rem / 3))
  border: 2px solid $smoky-gray
  margin-bottom: 2rem
  margin-left: 2rem
  padding: 1rem
  flex-shrink: 0
  cursor: pointer
  &:nth-child(3n + 1)
    margin-left: 0

.trigger-box.selected
  border-color: $green
</style>
