<template>
  <div :class="[$options.name]">
    <h2 class="section-title">Tweaks & Breakpoints</h2>
    <ScrollableWrapper>
      <div class="settings-container">
        <div
            v-for="item in originalSettings"
            :key="item.name"
            class="setting-box"
        >
          <h4 class="setting-title">{{ item.title }}</h4>
          <NumberInput
              v-model="form[item.name]"
              :step="0.01"
              :min="+item.min_value"
              :max="+item.max_value"
              center
              controls
          />
          <p v-if="item.description" class="setting-description">{{ item.description }}</p>
        </div>
      </div>
    </ScrollableWrapper>
  </div>
</template>

<script>
import NumberInput from '@/components/Common/Form/NumberInput.vue';
import ScrollableWrapper from '@/components/Common/ScrollableWrapper';

export default {
  name: 'tweak-section',
  inheritAttrs: false,
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      form: {}
    };
  },
  computed: {
    originalSettings() {
      return this.$store.getters.algorithmSettings;
    }
  },
  async created() {
    if (this.originalSettings.length === 0) {
      await this.$store.dispatch('getAlgorithmsSettings', { id: this.data.algorithm.id });
      if (Boolean(this.data.id)) {
        this.form = this.data.breakpoints;
      } else {
        this.originalSettings.forEach((s) => {
          this.$set(this.form, s.name, +s.value);
        });
      }
    } else {
      this.form = this.data.breakpoints;
    }

    this.$emit('update', { breakpoints: this.form });
  },
  components: {
    NumberInput,
    ScrollableWrapper
  }
};
</script>

<style lang="sass" scoped>
.section-title,
.setting-title
  font-weight: 500

.settings-container
  display: flex
  flex-wrap: wrap

.setting-box
  width: calc((100% / 3) - (4rem / 3))
  margin-bottom: 2rem
  margin-left: 2rem
  flex-shrink: 0
  &:nth-child(3n + 1)
    margin-left: 0

.setting-description
  color: $smoky-gray


</style>
