<template>
  <div :class="[$options.name, { editable }]">
    <div class="header">
      <h4 class="title">{{ title }}</h4>
      <button v-if="editable" class="edit-button c-button c-button--icon" @click="$emit('edit')">
        <Icon name="edit-line"/>
      </button>
    </div>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'confirm-item',
  props: {
    title: {
      type: String,
      required: true
    },
    editable: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style lang="sass" scoped>
.confirm-item
  border: 2px solid $smoky-gray
  margin-bottom: 1rem
  padding: 1rem
  background: $pure-white

.confirm-item.editable
  padding: 0 0 1rem 1rem

  .header
    margin-bottom: 0

.header
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 1rem

.title
  font-weight: 500
  margin: 0

.edit-button
  width: 3rem
  height: 3rem

p
  margin: 0

p + p
  margin-top: .25rem
</style>
