<template>
  <div :class="[$options.name, {disabled}]">
    <MultipleSelectBox
      :options="availableOptions"
      :title="optionsTitle"
      :value-field="valueField"
      allow-search
      @select="availableSelectedOptions = $event"
      @double-click="availableOptionDblClickHandler"
    />
    <div class="action-buttons">
      <button class="c-button c-button--icon action-button" :disabled="availableOptions.length < 1" @click="chooseAll">
        <Icon name="speed-mini-fill" size="xl" />
      </button>
      <button
          class="c-button c-button--icon action-button"
          :disabled="availableOptions.length < 1 || availableSelectedOptions.length < 1"
          @click="chooseSelected"
      >
        <Icon name="play-mini-fill" size="xl" />
      </button>

      <button
          class="c-button
          c-button--icon
          action-button"
          :disabled="chosenOptions.length < 1 || chosenSelectedOptions.length < 1"
          @click="removeSelected"
      >
        <Icon name="play-mini-fill" size="xl" class="revert-icon" />
      </button>
      <button class="c-button c-button--icon action-button" :disabled="chosenOptions.length < 1" @click="removeAll">
        <Icon name="rewind-mini-fill" size="xl" />
      </button>
    </div>
    <MultipleSelectBox
        :options="chosenOptions"
        :title="selectedTitle"
        :value-field="valueField"
        @select="chosenSelectedOptions = $event"
        @double-click="chosenOptionDblClickHandler"
    />
  </div>
</template>

<script>
import MultipleSelectBox from '@/components/Common/Form/MultipleSelect/MultipleSelectBox.vue';

export default {
  name: 'multiple-select',
  props: {
    options: {
      type: Array,
      default: () => []
    },
    selected: {
      type: Array,
      default: () => []
    },
    titleField: {
      type: String,
      default: 'title'
    },
    valueField: {
      type: String,
      default: 'id'
    },
    optionsTitle: {
      type: String,
      default: 'Available options'
    },
    selectedTitle: {
      type: String,
      default: 'Chosen options'
    },
    disabled: {
      type: Boolean
    }
  },
  data() {
    return {
      chosenOptions: [],
      availableSelectedOptions: [],
      chosenSelectedOptions: []
    };
  },
  computed: {
    availableOptions() {
      return this.options.filter(i => !this.selectedIds.includes(i[this.valueField]));
    },
    selectedIds() {
      return this.chosenOptions.map(i => i[this.valueField]);
    }
  },
  watch: {
    selected(arr) {
      this.chosenOptions = arr;
    }
  },
  methods: {
    chooseSelected() {
      this.chosenOptions = [...this.chosenOptions, ...this.availableSelectedOptions];
      this.availableSelectedOptions = [];
      this.$emit('select', this.chosenOptions);
    },
    removeSelected() {
      const ids = this.chosenSelectedOptions.map(i => i[this.valueField]);
      this.chosenOptions = this.chosenOptions.filter(i => !ids.includes(i[this.valueField]));
      this.chosenSelectedOptions = [];
      this.$emit('select', this.chosenOptions);
    },
    chooseAll() {
      this.chosenOptions = this.options;
      this.availableSelectedOptions = [];
      this.$emit('select', this.chosenOptions);
    },
    removeAll() {
      this.chosenOptions = [];
      this.chosenSelectedOptions = [];
      this.$emit('select', this.chosenOptions);
    },
    availableOptionDblClickHandler(option) {
      this.chosenOptions.push(option);
      this.$emit('select', this.chosenOptions);
    },
    chosenOptionDblClickHandler(option) {
      this.chosenOptions = this.chosenOptions.filter(i => i[this.valueField] !== option[this.valueField]);
      this.$emit('select', this.chosenOptions);
    }
  },
  created() {
    this.chosenOptions = [...this.selected];
  },
  components: {
    MultipleSelectBox
  }
};
</script>

<style lang="sass" scoped>
.multiple-select
  display: flex
  width: 100%

.multiple-select.disabled
  pointer-events: none
  opacity: .5

.action-buttons
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 10%

.action-button
  margin: .5rem 0

.action-button:hover
  .icon:before
    color: $primary

.action-button:disabled
  background-color: transparent
  .icon:before
    color: $smoky-gray
</style>
