<template>
  <div :class="[$options.name]">
    <div class="title">{{ title }}</div>
    <Search
        v-if="allowSearch"
        v-model="searchValue"
        opened
        class="search-box"
        @search="onSearch"
    />
    <div class="options-box">
      <div
          v-for="option in filteredOptions"
          :key="option[valueField]"
          :class="['option', {selected: selectedIds.includes(option[valueField])}]"
          @click="optionClickHandler(option)"
          @dblclick="$emit('double-click', option)"
      >
        {{ option[titleField] }}
      </div>
    </div>
  </div>
</template>

<script>
import Search from '@/components/Search';

export default {
  name: 'multiple-select-box',
  props: {
    options: {
      type: Array,
      default: []
    },
    title: {
      type: String,
      default: 'Options'
    },
    titleField: {
      type: String,
      default: 'title'
    },
    valueField: {
      type: String,
      default: 'id'
    },
    allowSearch: Boolean
  },
  data() {
    return {
      selected: [],
      searchValue: ''
    };
  },
  watch: {
    options: {
      handler() {
        this.selected = [];
        this.$emit('select', this.selected);
      }
    }
  },
  computed: {
    filteredOptions() {
      return this.searchValue
        ? this.options.filter(i => i.title.toUpperCase().includes(this.searchValue.toUpperCase()))
        : this.options;
    },
    selectedIds() {
      return this.selected.map(i => i[this.valueField]);
    }
  },
  methods: {
    optionClickHandler(option) {
      const candidate = this.selected.find(i => i[this.valueField] === option[this.valueField]);
      if (Boolean(candidate)) {
        this.selected = this.selected.filter(i => i[this.valueField] !== option[this.valueField]);
      } else {
        this.selected.push(option);
      }
      this.$emit('select', this.selected);
    },
    onSearch(str) {
      console.log(str);
    }
  },
  components: {
    Search
  }
};
</script>

<style lang="sass" scoped>
.multiple-select-box
  background-color: $pure-white
  border: 2px solid $smoky-gray
  width: 45%
  height: 234px

.title
  padding: .5rem
  border-bottom: 2px solid $smoky-gray

.search-box.search
  height: 2.15rem
  border-bottom: 2px solid $smoky-gray

.options-box
  height: 160px
  overflow-y: auto

.option
  padding: .5rem
  cursor: pointer

.option:hover,
.option.selected
  background-color: $middle-gray
</style>

