<template>
  <div :class="[$options.name]">
    <h1 class="title">Launch optimization</h1>
    <Stepper
      :steps="stepsForStepper"
      :current="step"
      class="algorithm-stepper"
    />
    <component
      v-if="currentSection"
      :is="currentSection"
      :data="form"
      @update="updateFormHandler"
      @edit="setStepForCorrectHandler"
    />
    <div class="actions">
      <button class="c-button c-button--outline action-button" @click="cancel">
        Cancel
      </button>
      <button
        class="c-button c-button--primary action-button confirm"
        :disabled="disabledConfirmButton"
        @click="confirm"
      >
        {{ confirmButtonText }}
      </button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { isEmpty } from 'lodash';
import DeviceTypeIdentifier from '../../utils/device-type-identifier';
import Stepper from '@/components/Stepper.vue';
import ChooseAlgorithm from '@/views/Algorithm/components/ChooseAlgorithm.vue';
import SelectMarketplaces from '@/views/Algorithm/components/SelectMarketplaces.vue';
import SelectCampaign from '@/views/Algorithm/components/SelectCampaign.vue';
import SelectKeyword from '@/views/Algorithm/components/SelectKeyword.vue';
import Tweak from '@/views/Algorithm/components/Tweak.vue';
import Triggers from '@/views/Algorithm/components/Triggers.vue';
import Confirm from '@/views/Algorithm/components/Confirm';

const STEPS = [
  {
    step: 'algorithm',
    title: 'Choose algorithm',
    component: ChooseAlgorithm,
    validation: [],
    additional: false
  },
  {
    step: 'marketplaces',
    title: 'Select marketplaces',
    component: SelectMarketplaces,
    validation: [],
    additional: false
  },
  {
    step: 'campaign',
    title: 'Select target campaign',
    component: SelectCampaign,
    validation: [],
    additional: true
  },
  {
    step: 'keyword',
    title: 'Select target keyword',
    component: SelectKeyword,
    validation: [],
    additional: true
  },
  {
    step: 'tweaks',
    title: 'Tweak',
    component: Tweak,
    validation: [],
    additional: false
  },
  {
    step: 'triggers',
    title: 'Triggers',
    component: Triggers,
    validation: [],
    additional: false
  },
  {
    step: 'confirm',
    title: 'Confirm',
    component: Confirm,
    validation: [],
    additional: false
  }
];

export default {
  name: 'algorithm-create-view',
  provide() {
    return {
      PageType: () => this.pageType_c
    };
  },
  data() {
    return {
      form: {
        algorithm: null,
        profiles: [],
        portfolios: [],
        campaign: null,
        keyword: null,
        breakpoints: null,
        trigger: null,
        title: ''
      },
      pageType_c: null,
      step: 0
    };
  },
  computed: {
    ...mapGetters(['algorithmCampaigns', 'algorithmKeywords']),
    isAdditional() {
      return !isEmpty(this.form.algorithm.additional_steps);
    },
    steps() {
      if (this.step === 0) {
        return [STEPS[0]];
      } else {
        return !this.isAdditional ? STEPS.filter((s) => !s.additional) : STEPS;
      }
    },
    stepsForStepper() {
      return this.steps.map((s) => s.title);
    },
    currentSection() {
      const currentStep = this.steps[this.step];
      return Boolean(currentStep) ? currentStep.component : null;
    },
    confirmButtonText() {
      return this.steps[this.step].step === 'confirm' ? 'Confirm' : 'Next';
    },
    disabledConfirmButton() {
      const {
        algorithm,
        profiles,
        campaign,
        keyword,
        portfolios,
        breakpoints,
        trigger,
        title
      } = this.form;
      switch (this.steps[this.step].step) {
        case 'algorithm':
          return !Boolean(algorithm);
        case 'marketplaces':
          return (
            profiles.length === 0 ||
            portfolios.length === 0 ||
            (this.isAdditional && this.algorithmCampaigns.length === 0)
          );
        case 'campaign':
          return !Boolean(campaign) || this.algorithmKeywords.length === 0;
        case 'keyword':
          return !Boolean(keyword);
        case 'tweaks':
          return !Boolean(breakpoints);
        case 'triggers':
          return !Boolean(trigger);
        case 'confirm':
          return !Boolean(title);
      }
    }
  },
  methods: {
    ...mapActions(['createAlgorithm', 'updateAlgorithm']),
    setStepForCorrectHandler(editedStep) {
      const index = this.steps.findIndex((s) => s.step === editedStep);
      if (index !== -1) this.step = index;
    },
    updateFormHandler(data) {
      this.form = { ...this.form, ...data };
    },
    async confirm() {
      if (this.steps[this.step].step === 'confirm') {
        const {
          algorithm,
          profiles,
          campaign,
          keyword,
          portfolios,
          breakpoints,
          trigger,
          title
        } = this.form;
        const data = {
          title,
          breakpoints,
          algorithm: algorithm.id,
          trigger: trigger.id,
          profiles: profiles.map((i) => i.id),
          portfolios: portfolios.map((i) => i.portfolio_id)
        };

        if (this.isAdditional) {
          data.additional_arguments = {
            campaign: campaign.campaign_id,
            keyword: keyword.keyword_id
          };
        }

        if (this.form.user) data.user = this.form.user;
        if (this.form.id) data.id = this.form.id;

        await this.saveAlgorithm(data);
      } else {
        this.step++;
      }
    },
    async saveAlgorithm(data) {
      if (this.form.id) {
        await this.updateAlgorithm(data);
      } else {
        await this.createAlgorithm(data);
      }

      this.cancel();
    },
    cancel() {
      this.$router.push({ name: 'algorithm-list' });
    }
  },
  created() {
    const params = this.$route.params;
    if (params.id) {
      if (!Boolean(params.dataForEdit)) return this.cancel();
      this.form = params.dataForEdit;
      this.step = 1;
    }
  },
  mounted() {
    this.$nextTick(function () {
      DeviceTypeIdentifier.addPageTypeWatcher_P.call(this);
    });
  },
  components: {
    Stepper
  }
};
</script>

<style lang="sass" scoped>
.algorithm-create-view
  padding-right: 3rem

.title
  margin-top: 0
  margin-bottom: 2rem

.algorithm-stepper
  margin-bottom: 2rem
  ::v-deep .step
    min-width: 10rem

.actions
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  display: flex

.action-button
  flex: 1
  height: 3rem
  font-size: 1.25rem
</style>
