<template>
  <div :class="[$options.name]">
    <div class="c-table__top-panel">
      <div class="inner">
        <h1 class="c-table__title">Algorithms</h1>
        <div class="c-table__stats">
          Showing {{ list.length }} records, {{ count }} total
        </div>
      </div>
      <div class="c-table__action-box">
        <router-link
          :to="{ name: 'algorithm-create' }"
          class="c-button c-button--primary create-button"
        >
          Create new algorithm
        </router-link>
      </div>
    </div>

    <div class="c-table">
      <div class="c-table__headers d-flex align-items-center">
        <div class="header title">Title</div>
        <div class="header algorithm">Basic algorithm</div>
        <div class="header scope">Scope</div>
        <div class="header trigger">Trigger</div>
        <div class="header profiles">Profiles</div>
        <div class="header actions visibility-hidden">Actions</div>
      </div>
      <ScrollableWrapper>
        <div class="c-table__rows">
          <div v-for="row in list" :key="row.id" class="c-table__row">
            <div class="column title">{{ row.title }}</div>
            <div class="column algorithm">{{ row.algorithm.title }}</div>
            <div class="column scope">{{ row.algorithm.scope }}</div>
            <div class="column trigger" :title="row.trigger.description">
              {{ row.trigger.kind }}: {{ row.trigger.title }}
            </div>
            <div class="column profiles">
              <div v-for="profile in row.profiles" :key="profile.id">
                {{ profile.title }}
              </div>
            </div>
            <div class="column actions">
              <div class="actions-box">
                <button
                  class="c-button c-button--icon action-button"
                  @click.stop="editBtnClickHandler(row)"
                >
                  <Icon name="edit-line" />
                </button>
                <button
                  class="c-button c-button--icon action-button"
                  @click.stop="deleteBtnClickHandler(row.id)"
                >
                  <Icon name="delete-bin-line" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </ScrollableWrapper>
    </div>

    <Modal
      :is-open="isModalOpen"
      :width="'400px'"
      @confirm="sendRemoveRequestHandler"
      @cancel="cancelRemoveRequestHandler"
      @close="changeModalStateHandler"
    >
      <h4 class="confirm-title">Are you sure?</h4>
    </Modal>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import ScrollableWrapper from '@/components/Common/ScrollableWrapper.vue';
import Modal from '@/components/Common/Modal.vue';

export default {
  name: 'algorithm-list-view',
  data() {
    return {
      list: [],
      count: 0,
      algorithmId: '',
      isModalOpen: false
    };
  },
  methods: {
    ...mapActions(['getAlgorithms', 'deleteAlgorithm', 'getPortfolios']),
    async editBtnClickHandler(algorithmObj) {
      const profilesIdsString = algorithmObj.profiles
        .map((i) => i.id)
        .join(',');
      await this.getPortfolios({ ids: profilesIdsString });
      this.$router.push({
        name: 'algorithm-edit',
        params: { id: algorithmObj.id, dataForEdit: algorithmObj }
      });
    },
    deleteBtnClickHandler(idStr) {
      this.algorithmId = idStr;
      this.changeModalStateHandler();
    },
    changeModalStateHandler() {
      this.isModalOpen = !this.isModalOpen;
    },
    cancelRemoveRequestHandler() {
      this.changeModalStateHandler();
    },
    sendRemoveRequestHandler() {
      this.changeModalStateHandler();
      this.deleteAlgorithm({ id: this.algorithmId }).then(() => {
        this.list = this.list.filter((i) => i.id !== this.algorithmId);
      });
    }
  },
  async created() {
    const data = await this.getAlgorithms();
    this.list = data.results;
    this.count = data.count;
  },
  components: {
    ScrollableWrapper,
    Modal
  }
};
</script>

<style lang="sass" scoped>
.algorithm-list-view
  width: 100%
  height: 100vh
  padding-bottom: 2rem

  ::v-deep .scrollable-wrapper
    padding-right: 0

.c-table__action-box
  display: flex
  align-items: center
  justify-content: flex-end

.c-table__headers
  position: sticky
  top: 0
  padding-right: 1rem
  background-color: $middle-gray
  z-index: 2

.header
  padding: 1rem
  font-weight: bold

.c-table__row
  display: flex
  align-items: center
  padding-right: 1rem

.c-table__row:hover
  background-color: $middle-gray

.column
  padding: 1rem

.title
  width: 19%

.algorithm
  width: 19%

.scope
  width: 19%

.trigger
  width: 19%

.profiles
  width: 19%

.actions
  width: 5%

.actions-box
  display: flex
  align-items: center

.action-button + .action-button
  margin-left: 1rem

.confirm-title
  font-size: 1.3rem
  margin: 1rem 0
  text-align: center
</style>
